<button class="button button--accent">get started</button>
<button class="button button--outline">buy now</button>
<button class="button button--accent button--fixed">
  <img
    class="icon__search"
    src="../Moshify/images/sprite.svg#search.svg"
    alt=""
  />
  search
</button>
<section class="button-container">
  <button class="button button--outline button--block">buy now!!</button>
</section>
<button class="button button--primary">button button--primary</button>
<button class="button button--secondary">get started</button>
<a href="" class="button button--accent">buy now</a>
